extends ../includes/layout

block content
  .row
    .navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          a.navbar-brand(href='/') GlobalVision
            h6 - learn,teach and become expert...
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/courses') Courses
          div(ng-include="'/partials/account/navbar-login'")
  section.content
    div(ng-view)
  
  footer.container.text-center
    hr
    p 2014 &copy; 
      a(href="http://in.linkedin.com/in/deepjyotikhakhlary/" target="_blank") Deepjyoti Khakhlary 
        |<img src="images/linkedin-icon-small.png" />