doctype
html
  head
    title GlobalVision
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    link(rel="stylesheet", href="/vendor/ngprogress/ngProgress.css")
    link(rel="stylesheet", href="/vendor/wysiwyg/css/bootstrap3-wysiwyg5.css?1")
  body(ng-app='app' style="overflow-x: hidden")
    include currentUser
    block content
    include scripts